.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

.h-90{
    height: 90% !important;
}

.favorite:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(2px, 0, 0);
    }
}

@font-face {
    font-family: 'pokemon-solid';
    src: url('../css//pokemon-solid.ttf') format('truetype');
}

@font-face {
    font-family: 'pokemon-hollow';
    src: url('../css//pokemon-hollow.ttf') format('truetype');
}

.pokemon-solid{
    font-family:'pokemon-solid';
}

.hand:hover{
    cursor: pointer;
}
.sprite{
    max-width: 96px;
    max-height: 96px;
}
.box-overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0%;
    top: -4.5%;
    padding: 0;
    text-align-last: center;
    background-color: gray;
    opacity: 30%;
    z-index: 10000;
    margin: 0;
}
.spinner-overlay{
    position: absolute;
    top: 50%;
    width: 100%;
    place-content: center;
}
